/*Header styles*/
@font-face {
  font-family: "Roboto";
  src: url("../about/fonts/Roboto-Medium.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("../about/fonts/Roboto-Regular.woff") format("woff");
}
.header {
  width: 1440px;
  height: 569px;
}
.text {
  font-family: Roboto-Medium;
  font-style: normal;
  padding: 120px 567px 0 567px;
  font-size: 40px;
}
hr {
  width: 100px;
  height: 4px;
  margin-top: 20px;
  background-color: #f5bd41;
}
.wrapper {
  margin-top: 88px;
  margin-left: 181px;
}
.block {
  display: inline-block;
  float: left;
  width: 22%;
  text-align: center;
}
.text_offer {
  font-family: Roboto;
  font-style: normal;
  padding-top: 48px;
  font-size: 24px;
  color: #383838;
}
/*Footer styles*/
.footer {
  width: 1440px;
  height: 630px;
  background-color: #10367c;
  display: flex;
  justify-content: normal;
  flex-wrap: wrap;
}
.footer_items {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}
.about_items,
.property_types_items,
.support_items {
  padding-top: 24px;
  list-style: none;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  color: #ffffff;
}
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  border-bottom: 1px solid #447cd4;
}
.about_items:first-child,
.property_types_items:first-child,
.support_items:first-child {
  padding-top: 0;
  font-family: Roboto;
  font-weight: bolder;
}
.about_items {
  padding-left: 104px;
}
.property_types {
  padding: 0;
}
.property_types_items {
  padding-left: 223px;
}
.support_items {
  padding-left: 283px;
}
.label {
  padding-left: 103px;
  padding-bottom: 120px;
}
.label_items {
  font-family: Roboto;
  font-size: 14px;
  color: #ffffff;
}
