/*Header styles*/
* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Roboto;
  src: url("../about/fonts/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: Roboto;
  src: url("../about/fonts/Roboto-Medium.woff") format("woff");
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
header {
  background-image: url("../about/images/castelbackground.png");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 104px;
  padding-right: 104px;
  padding-top: 50px;
}
.header_items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.links {
  padding-top: 5px;
}
.stays,
.attractions {
  color: #ffffff;
  font-family: Roboto;
  font-size: 24px;
  text-decoration: none;
  margin-right: 24px;
}
.stays:hover {
  text-decoration: none;
  border-bottom: 4px solid #f5bd41;
}
.attractions:hover {
  text-decoration: none;
  border-bottom: 4px solid #f5bd41;
}

.header_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 24px;
}
.night {
  padding-right: 24px;
}
.block_text {
  display: flex;
  flex-direction: row;
  padding-left: 104px;
  padding-top: 200px;
}
.block_text_items {
  font-family: Roboto;
  font-size: 50px;
  font-weight: 500;
  color: #ffffff;
}
.informations {
  padding-right: 104px;
  padding-left: 104px;
  padding-top: 100px;
}
.informations_items {
  display: flex;
  flex-direction: row;
  height: 64px;
  background: #ffffff;
  border-radius: 8px;
  margin-top: 24px;
}
.destination {
  border: none;
  width: 35%;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.date {
  border: #ffffff;
  width: 20%;
}
.number {
  border: #ffffff;
  width: 25%;
}
.submit {
  border: #3077c6;
  background: #3077c6;
  width: 20%;
  color: #ffffff;
  border-radius: 8px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
}
::placeholder {
  color: #383838;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}
input:hover {
  border: 3px solid #f5bd41;
  border-radius: 8px;
}
input:focus {
  color: #383838;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
}
label {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  padding-right: 200px;
}
.application {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 120px 584px;
}

.text {
  font-family: Roboto;
  font-style: normal;
  padding-top: 120px;
  text-align: center;
  font-size: 40px;
}
.line {
  display: flex;
  justify-content: center;
}
hr {
  width: 100px;
  height: 4px;
  margin-top: 20px;
  background-color: #f5bd41;
  border: none;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 120px;
  padding-top: 90px;
}

.text_offer {
  font-family: Roboto;
  font-style: normal;
  padding-top: 48px;
  font-size: 24px;
  color: #383838;
}
/*Destinations styles*/
.destinations {
  height: 958px;
  background-color: #ffffff;
}
.change {
  display: flex;
  flex-direction: row;
  margin-top: 104px;
  margin-left: 104px;
  margin-right: 850px;
  height: 64px;
  background-color: #f3f3f4;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.change_items {
  border: none;
  font-size: 24px;
  font-family: Roboto;
  padding-left: 16px;
  padding-right: 16px;
}
.regions {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.interest {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
.change_items:hover {
  background-color: #3077c6;
  color: #ffffff;
  border-radius: 8px;
}
.change_items:active {
  background-color: #3077c6;
  color: #ffffff;
  border-radius: 8px;
}
.regions_items {
  display: flex;
  flex-direction: column;
  margin-left: 104px;
  margin-top: 64px;
  padding-right: 50px;
}
.regions_for_visit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.regions_links {
  text-decoration: none;
  font-family: Roboto;
  font-size: 24px;
}
figcaption {
  padding-top: 24px;
}
.view_more {
  padding-top: 102px;
  padding-left: 680px;
}

/*Footer styles*/
.footer {
  background-color: #10367c;
}
.footer_elements {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 104px;
  padding-top: 120px;
}
.footer_items {
  display: inline-block;
  float: left;
  width: 30%;
}
.about_items,
.property_types_items,
.support_items {
  padding-top: 24px;
  list-style: none;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  color: #ffffff;
}
.footer_links {
  color: #ffffff;
  text-decoration: none;
}
.footer_links:hover {
  text-decoration: none;
  border-bottom: 1px solid #447cd4;
}
.about_items:first-child,
.property_types_items:first-child,
.support_items:first-child {
  padding-top: 0;
  font-family: Roboto;
  font-weight: bolder;
}
.label {
  padding-left: 105px;
  padding-bottom: 120px;
}
.label_items {
  font-family: Roboto;
  font-size: 14px;
  color: #ffffff;
}
