/*Header styles*/
* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.text {
  font-family: Roboto;
  font-style: normal;
  padding-top: 120px;
  text-align: center;
  font-size: 40px;
}
.line {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.line {
  display: flex;
  justify-content: center;
}
hr {
  width: 100px;
  height: 4px;
  margin-top: 20px;
  background-color: #f5bd41;
  border: none;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 120px;
  padding-top: 90px;
  padding-right: 20px;
}
.block {
  display: inline-block;
  float: left;
  width: 22%;
  text-align: center;
}
.images {
  width: 100px;
  height: 100px;
}
.text_offer {
  font-family: Roboto;
  font-style: normal;
  padding-top: 48px;
  font-size: 24px;
  color: #383838;
}
/*Footer styles*/
.footer {
  background-color: #10367c;
}
.footer_elements {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 104px;
  padding-top: 120px;
}
.footer_items {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
  width: 30%;
}
.about_items,
.property_types_items,
.support_items {
  padding-top: 24px;
  list-style: none;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  color: #ffffff;
}
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  border-bottom: 1px solid #447cd4;
}
.about_items:first-child,
.property_types_items:first-child,
.support_items:first-child {
  padding-top: 0;
  font-family: Roboto;
  font-weight: bolder;
}
.label {
  padding-left: 105px;
  padding-bottom: 120px;
}
.label_items {
  font-family: Roboto;
  font-size: 14px;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .footer_elements {
    padding-left: 50px;
    padding-top: 50px;
  }
  .about_items,
  .property_types_items,
  .support_items {
    padding-top: 10px;
    font-size: 15px;
  }
  .label {
    padding-left: 50px;
    padding-bottom: 60px;
  }
}
.footer-adaptive {
  display: none;
}
@media screen and (max-width: 768px) {
  .images {
    width: 90px;
    height: 90px;
  }
  .text_offer {
    font-size: 20px;
  }
  .label {
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 628px) {
  .images {
    width: 80px;
    height: 80px;
  }
  .text_offer {
    padding-top: 30px;
    font-size: 15px;
  }
  .text {
    padding-top: 80px;
    font-size: 30px;
  }
  .wrapper {
    padding-bottom: 80px;
    padding-top: 80px;
  }
  .footer_elements {
    padding-left: 20px;
    padding-top: 30px;
  }

  .label {
    padding-left: 20px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 360px) {
  .footer {
    display: none;
  }
  .footer-adaptive {
    display: flex;
    flex-direction: column;
    background-color: #10367c;
  }
  .footer_logo {
    padding: 40px 131px;
    display: flex;
    justify-content: center;
  }
  .footer_adaptive_logo {
    width: 96px;
    height: 16px;
  }
  .fill {
    fill: #ffffff;
  }

  .footer_links_adaptive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 68px;
    padding-right: 68px;
  }
  .footer_links_adaptive_items {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    text-decoration-line: underline;
  }
  .footer_author {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 68px;
    padding-bottom: 40px;
    padding-top: 32px;
  }
  .footer_author_items {
    color: #ffffff;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
  }

  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .text_offer {
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 15px;
  }
  .text {
    padding-top: 20px;
    font-size: 25px;
  }
  .wrapper {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  hr {
    width: 60px;
    height: 2px;
    margin-top: 15px;
  }
}
