/*Header styles*/
* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Roboto-Regular, sans-serif;
  src: url("../about/fonts/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: Roboto-Regular, sans-serif;
  src: url("../about/fonts/Roboto-Medium.woff") format("woff");
}
.general_background {
  width: 100%;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 104px;
}
header {
  background-image: url("../about/images/castelbackground.png");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  min-width: 100%;
  background-size: cover;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 104px;
  padding-right: 104px;
  padding-top: 50px;
}
.header_items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.links {
  padding-top: 5px;
}
.logo {
  width: 205px;
  height: 40px;
  fill: #3077c6;
}
.stays,
.attractions {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  text-decoration: none;
  margin-right: 24px;
  position: relative;
  transition-property: border-bottom;
}
.stays:after {
  content: "";
  position: absolute;
  height: 4px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
}
.attractions:after {
  content: "";
  position: absolute;
  height: 4px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
}
.stays:hover {
  text-decoration: none;
  border-bottom: 4px solid #f5bd41;
}
.attractions:hover {
  text-decoration: none;
  border-bottom: 4px solid #f5bd41;
}
.header_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 24px;
}
.night {
  padding-top: 5px;
  padding-right: 24px;
  width: 30px;
  height: 30px;
}
.account {
  width: 40px;
  height: 40px;
}
.block_text {
  display: flex;
  flex-direction: row;
  padding-left: 104px;
  padding-top: 200px;
}
.block_text_items {
  font-family: Roboto, sans-serif;
  font-size: 50px;
  font-weight: 500;
  color: #ffffff;
}
.informations {
  display: flex;
  flex-direction: column;
  padding-right: 104px;
  padding-left: 104px;
  padding-top: 100px;
}
.form_label {
  display: flex;
  flex-direction: row;
}
.informations_items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 64px;
  background: #ffffff;
  border-radius: 8px;
  margin-top: 24px;
}
.destination {
  border: none;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  padding-left: 12px;
}
.date {
  border: #ffffff;
}
.number {
  border: #ffffff;
}
.submit {
  border: #3077c6;
  background: #3077c6;
  color: #ffffff;
  border-radius: 8px;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 500;
}
::placeholder {
  color: #383838;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
}
input:hover {
  border: 3px solid #f5bd41;
  border-radius: 8px;
}
input:focus {
  color: #383838;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
}
label {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  padding-right: 200px;
}
.google_link {
  margin-right: 14px;
}
.app_store,
.google {
  width: 135px;
  height: 40px;
}
.application {
  display: flex;
  justify-content: center;
  padding: 120px 0;
}
/*What do we offer styles*/
.title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
  font-size: 40px;
}
.line {
  display: flex;
  justify-content: center;
  position: relative;
}
.line:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  background-color: #f5bd41;
  border: none;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 120px;
  padding-right: 20px;
}
.wrapper_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.block {
  display: inline-block;
  float: left;
  width: 22%;
  text-align: center;
}
.images {
  width: 100px;
  height: 100px;
}
.text_offer {
  font-family: Roboto, sans-serif;
  font-style: normal;
  padding-top: 48px;
  font-size: 24px;
  color: #383838;
}
/*Homes guests loves style*/
.hotel {
  background-color: #eaf0f9;
  height: 828px;
}
.places {
  display: flex;
  flex-direction: column;
}
.places_image {
  width: 90%;
}
.places_items {
  display: flex;
}
figcaption {
  padding-top: 24px;
  padding-bottom: 24px;
}
.hotel_offer {
  position: relative;
}
.more {
  position: absolute;
  width: 15%;
  left: 84%;
  top: 30%;
}
.not_view_more {
  position: absolute;
  width: 15%;
  left: 84%;
  top: 32%;
  display: none;
}
.hotel_links {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 24px;
}
.location {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  color: #bfbfbf;
}
/*Footer styles*/
.footer {
  background-color: #10367c;
}
.footer_menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 120px;
}
.footer_items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.about_items,
.property_types_items,
.support_items {
  padding-top: 24px;
  list-style: none;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-style: normal;
  color: #ffffff;
}
.footer_links {
  color: #ffffff;
  text-decoration: none;
}
.footer_links:hover {
  text-decoration: none;
  border-bottom: 1px solid #447cd4;
}
.about_items:first-child,
.property_types_items:first-child,
.support_items:first-child {
  padding-top: 0;
  font-family: Roboto, sans-serif;
  font-weight: bolder;
}
.label {
  padding-bottom: 120px;
}
.label_items {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #ffffff;
}
.footer_logo {
  display: none;
}
@media screen and (max-width: 768px) {
  .container {
    padding-left: 30px;
  }
  .hotel {
    height: 740px;
  }
  .hotel_links {
    font-size: 18px;
  }
  .location {
    font-size: 18px;
  }
  .footer_elements {
    padding-top: 50px;
  }
  .about_items,
  .property_types_items,
  .support_items {
    padding-top: 10px;
    font-size: 15px;
  }
  .label {
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 60px;
  }
  .images {
    width: 90px;
    height: 90px;
  }
  .text_offer {
    font-size: 20px;
  }
  .footer_menu {
    padding-top: 0;
    padding-left: 0;
  }
}
@media screen and (max-width: 628px) {
  .images {
    width: 80px;
    height: 80px;
  }
  .hotel {
    height: 640px;
  }
  .text_offer {
    padding-top: 30px;
    font-size: 15px;
  }
  .text {
    padding-top: 80px;
    font-size: 30px;
  }
  .wrapper {
    padding-bottom: 80px;
  }
  .hotel_links {
    font-size: 14px;
  }
  .location {
    font-size: 14px;
  }
  figcaption {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .footer_elements {
    padding-top: 30px;
  }
  .label {
    padding-left: 20px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 500px) {
  .container {
    padding-left: 30px;
  }
  hr {
    width: 60px;
    margin-top: 15px;
  }
  .invisible {
    display: none;
  }
  .not_view {
    display: none;
  }
  .not_view_more {
    display: flex;
  }
  .title {
    padding-top: 40px;
    padding-bottom: 60px;
    font-size: 28px;
  }
  .places_items {
    padding-top: 32px;
    padding-left: 8px;
  }
  .hotel {
    height: 440px;
  }
  figcaption {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .footer_elements {
    flex-direction: column;
    padding-left: 0;
    padding-top: 0;
  }
  .footer_logo {
    display: flex;
    flex-direction: row;
    padding: 40px 0;
    justify-content: center;
  }
  .footer_adaptive_logo {
    width: 100px;
    height: 20px;
    fill: #ffffff;
  }
  .footer_menu {
    display: flex;
    flex-direction: row;
    padding: 0 44px 32px;
  }
  .about_items,
  .property_types_items,
  .support_items {
    font-size: 15px;
    text-decoration: underline;
  }
  .label {
    padding-bottom: 40px;
    padding-left: 50px;
  }
  .label_items {
    font-size: 12px;
  }
}
@media screen and (max-width: 360px) {
  .container {
    padding-left: 20px;
  }
  .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .text_offer {
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 15px;
  }
  .text {
    padding-top: 20px;
    font-size: 25px;
  }
  .wrapper {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  hr {
    width: 60px;
    height: 2px;
    margin-top: 15px;
  }
  .text {
    padding-top: 40px;
    font-size: 28px;
  }
  figcaption {
    padding-top: 8px;
    padding-bottom: 4px;
  }
  .hotel {
    height: 380px;
  }
  .hotel_links {
    font-size: 12px;
  }
  .location {
    font-size: 12px;
  }
}
@media only screen and (min-width: 768px) {
  .col-1 {
    width: 35%;
  }
  .col-2 {
    width: 20%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 20%;
  }
  .col-5 {
    width: 25%;
  }
  .col-6 {
    width: 33%;
  }
  .col-7 {
    width: 25%;
  }
}
@media only screen and (max-width: 768px) {
  .col-1-s {
    width: 50%;
  }
  .col-2-s {
    width: 50%;
  }
  .col-3-s {
    width: 50%;
  }
  .col-4-s {
    width: 50%;
  }
  .col-5-s {
    width: 50%;
  }
  .col-7-s {
    width: 25%;
  }
}
@media only screen and (max-width: 500px) {
  .col-7 {
    width: 60%;
  }
}
@media only screen and (max-width: 360px) {
  .col-1 {
    width: 100%;
  }
  .col-2 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
  .col-5 {
    width: 100%;
  }
  .col-7 {
    width: 50%;
  }
}
